@import url(public.css);
*{
   font-family: "微软雅黑","宋体","sans-serif";
   font-size: 12px;
   color:#666;
}
/*wang ye tou bu*/
#shortcut-2016{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #F1f1f1;
}
.w{
	width: 1210px;
	height: 30px;
	margin:0 auto;
}
.f1{
	float:left;
	width: 97px;
    height: 30px;
    position:relative; 
}

.top{
   width: 60px;
   height: 30px; 
   
   margin-left: 10px

}
.f1:hover{
	background: #ffffff;

}
.top_f1{
	float: loft;
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
}
.top_f1_1{
	overflow: hidden;
	float: left;
	width: 11px;
	height: 6px;
	position: absolute;
	right: 11px;
	bottom: 9px;
}
.w_f3{
	font: 400 15px/15px consolas;
     color: #6A6A6A;
    position: absolute;
    right: 0px;
    bottom: 0px;


}
.f2{
	width: 798px;
	height: 30px;
	float:right;
	line-height: 30px;
}
.top_f2_1{
	display: block;
	float: left;
	width:126px;
	height: 30px;
	margin:0 10px 0 0;
	padding:0 2px;
}

.top_f2_101{
	color: #C81623;
}
.top_f2_1 a:hover{
	color: #C81623;
}
.top_f2_2{
	width: 61px;
	height: 30px;
	float: left;
	padding :0 2px;
	text-align: center;
}
.top_f2_2 a:hover{
	color: #C81623;
}
.spacer{
	float: left;
	color: #ddd;
}
.top_f2_3{
	width: 79px;
	height: 30px;
	float: left;
	padding :0 2px;

}
.top_f2_3_1{
	width: 49px;
	height:30;
	padding: 0 25px 0 8px;
	margin: 0 1px 0 1px;	
	position: relative; 
}
.top_f2_3_01{
	overflow: hidden;
	float: left;
	width: 11px;
	height: 6px;
	position: absolute;
	right: 8px;
	bottom: 9px;
}
.w_f4{
	font: 400 15px/15px consolas;
     color: #6A6A6A;
    position: absolute;
    right: 0px;
	    bottom: 0px;
	}
.top_f2_4{
	width: 95px;
	height: 30px;
	float: left;
	padding :0 2px;
	float: left;
	background: url(../image/jd2015img.png) 7px 4px no-repeat;
}
.top_f2_4_1{
	width: 49px;
	height:30px;
	padding: 0 23px 0 22px;
	margin: 0 1px 0 1px;	
	position: relative; 
}
.top_f2_4_01{
	overflow: hidden;
	float: left;
	width: 11px;
	height: 6px;
	position: absolute;
	right: 8px;
	bottom: 9px;

}
.w_f5{
	font: 400 15px/15px consolas;
     color: #6A6A6A;
    position: absolute;
    right: 0px;
	    bottom: 0px;
	}
.top_f2_3:hover{
	background: #ffffff;
}
.top_f2_4:hover{
background: #ffffff;	

}
.top_f2_4_1:hover{
	background: url(../image/jd2015img.png)4px -21px no-repeat;
	
}
.w2{
	width: 1210px;
	height: 100px;
	margin: 0 auto;
}
.logo-2014{
	width: 362px;
	height: 60px;
	padding: 20px 0;
	float: left;
}
.logo{
	width: 270px;
	height: 60px;
    display: block;
    background: url(../image/logo-201305.png)0 0 no-repeat;

}
.ssl{
	width: 538px;
	height: 40px;
	margin: 25px 0 0 0;
	float: left;
}
.ssl_1{
	width: 538px;
	height:36px;

}
.text{
	float: left;
    width: 446px;
    height: 24px;
    line-height: 24px;
    color: #666;
    padding: 4px;
    margin-bottom: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
    outline: 0;
    font-size: 14px;
}
.button{
	float: left;
    width: 82px;
    height: 36px;
    background: #B61D1D;
border: none;
line-height: 1;
color: #fff;
font-size: 16px;
cursor: pointer;
}
.gwc{
	width: 144px;
	height: 36px;
	margin: 25px 65px 0 0;
	float: right;
	background: #f9f9f9;


}
.gwc_1{
	width: 75px;
	height: 34px;
	padding:0 28px 0 36px;
	border: 1px solid #DFDFDF;
	text-align: center;
    line-height: 34px;
    
    background: url(../image/jd2015img.png) 15px -49px no-repeat;
    position: relative;
}


.gwc .ci_right{
	position: absolute;
	top: 11px;
right: 10px;
width: 7px;
height: 13px;
overflow: hidden;
font: 400 13px/13px simsun;
color: #999;
}

.gwc .ci-count{
	position: absolute;
top: -4px;
left: 104px;
display: inline-block;
padding: 1px 2px;
font-size: 12px;
line-height: 12px;
color: #fff;
background-color: #c81623;
border-radius: 7px 7px 7px 0;
min-width: 12px;
text-align: center;
}
.ssl_2{
	width: 518px;
	height:20px;
	float: left;
	line-height: 20px
}
.ssl_2 a{
	float: left;
    white-space: nowrap;
    margin-right: 10px;
}
.ssl_2 a:hover{
	color: #C81623;
}
.ssl_21{
	color: #C81623;
}
.dhl{
	width: 100%;
	height:44px;
	border-bottom: 2px solid #B1191A;
}
.dhl .w{
	width: 1210px;
	height: 44px;
	margin: 0 auto;
}
.dhl_1{
	width: 210px;
height: 44px;
background: #B61D1D;
float: left;
font-size: 16px;
color: #fff;

}
.dhl_1_1{
	display: block;
width: 190px;
height: 44px;
padding: 0 10px;
background: #B1191A;
font: 400 15px/44px "microsoft yahei";
color: #fff;
text-decoration: none;
}
.dhl_2{
	width: 624px;
	height: 44px;
	float: left;

}
.dhl_2_1 a{
    font-size: 16px;
}
.dhl_2_1 {
	width: 88px;
    height: 44px;
    background: #fff;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    float: left;
}
.dhl_2_1 a:hover{
	color: #C81623;}
.dhl_3_1{
	width: 72px;
    height: 44px;
    background: #fff;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    float: left;
}
.dhl_3_1 a{
    font-size: 16px;
}
.dhl_3_1 a:hover{
	color: #C81623;}

.baner{
	width: 1210px;
	height: 466px;
	margin: 0 auto;
}
.baner1{
	width: 210px;
	height: 466px;
	float: left;
		
}
.baner1_1{
	width: 209px;
	height:31px;
	border-left: 1px solid #b61d1d;
	background: #b61d1d;
	position: relative;

}
.baner1_1_1{
	display: block;
	height: 31px;
    padding: 0 10px;
    line-height: 31px;
    font-family: "microsoft yahei";
    font-size: 14px;
    font-weight: 400;
    color:#fff;}
.baner1_1 i{
	position: absolute;
    color: #fff;
    top: 9px;
    right: 14px;
    width: 4px;
    height: 14px;
    font: 400 9px/14px consolas;
}
.baner1_1:hover{
   background: #fff;
}
.baner1_1_1:hover{
   color: #b61d1d;
}
.baner2{
	width: 730px;
	height:454px;
	margin: 12px 10px 0 10px;
	float: left;
	position: relative;
}

.baner2 a{
	float: left;
	display: block;
	background:yellow;
	font-size: 0;
	position: absolute;
	top: 0;
	left: 0,
}
.btnL{
 width:30px;
 height:70px;
 position: absolute;
 top: 50%;
right:0;
 margin-top: -35px;
z-index: 20;
overflow: hidden;
 opacity: 0.5;
 background: rgba(0,0,0,.2);
 /*display: none;*/

}
.btnL img{
	display: block;
	margin-left: -40px;

}
.btnR{
      width:30px;
      height:70px;
      position: absolute;
      top: 50%;
      left :0;
      margin-top: -35px;
      z-index: 20;
      overflow: hidden; 
      opacity: 0.5;
      background: rgba(0,0,0,.2);
     /* display: none;*/
}
.baner2_1{
	width: 126px;
	height: 15px;
	position: absolute;
	bottom: 10px;
	left:50%;
    margin-left: -63px;
    float: left;
    list-style: none;
    z-index: 9999;
}
.baner2_1 li{
	display: block;
	width: 15px;
	height: 15px;
	float: left;
    list-style-type: none;
    margin-right: 6px;
    background:#DEDEDE;
    border-radius:8px;
    text-align:center;
    line-height:15px;
    color: #666;
    cursor:pointer;
}
#hot{
	background: red;
	color:#FAFAFA;
}
.baner3{
	width:248px;
	height: 368px;
	margin: 12px 0 0 0;
	border: 1px solid #e4e4e4;
	float: left;
}
.baner3_1{
	width: 218px;
	height: 32px;
	padding: 0 15px;
	border-bottom: 1px dotted #E8E8E7;
	line-height: 32px;
}
.baner3_1 h2{
	font-size: 16px;
	font-weight:normal;
	float: left;
}
.baner3_1_1{
	display: block;
	float: right;
	font: 400 9px/14px consolas;
	line-height: 32px;
}
.baner3_1_1:hover{
	color: #b61d1d;
}
.baner3_2{
	width: 233px;
	height: 120px;
	padding:5px 0 0 15px;
}
.baner3_2_1{
	width: 210px;
	height: 24px;
}
.baner3_2_1 span{
	font-weight: 700;
    margin-right: 5px;

}
.baner3_2_1 a:hover{
	color: #b61d1d;
}
.baner3_2_1 span:hover{
	color: #b61d1d;
}
.new_bottom{
	width: 250px;
	height:207px;
	border-top: 1px solid #E8E8E7;
}
.key{
	width: 61px;
	height: 28px;
	float: left;
	border-right: 1px solid #E8E8E7;
	border-bottom: 1px solid #E8E8E7;
	padding-top: 41px;
	position: relative;
	text-align: center;
}
#key1,#key5,#key9{
	border-left:1px solid #E8E8E7;
}
.img{
	width: 250px;
	height: 75px;
	margin-top: 7px;
}
.cl_left{
	width: 25px;
	height: 25px;
	background:red;
	position: absolute;
	top: 13px;
	right:18px;
	background: url(../image/568dfdbdN4f7d7ca3.png) no-repeat  0px 0px;
}
#cl_left2{
	background-position: 0px -25px;
}
#cl_left3{
	background-position: 0px -50px;
}
#cl_left4{
	background-position: 0px -75px;
}
#cl_left5{
	background-position: 0px -100px;
}
#cl_left6{
	background-position: 0px -125px;
}
#cl_left7{
	background-position: 0px -150px;
}
#cl_left8{
	background-position: 0px -175px;
}
#cl_left9{
	background-position: 0px -200px;
}
#cl_left10{
	background-position: 0px -225px;
}
#cl_left11{
	background-position: 0px -250px;
}
#cl_left12{
	background-position: 0px -275px;
}
.key span{

	font-family: "宋体";

}

.new_bottom a:hover span{
	color: #C81623;
}
.jian {
	width: 12px;
	height: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
	background:url(../image/55fa82feN72ffadc6.png) no-repeat 
}
/*gundong tu */
.fushi{
	width:100%;
	height: 936px;
	margin: 10px 0 0 0; 

}
.gundong{
	width: 1210px;
	height:184px;
	margin: 0 auto;
}
.gundong1{
	width: 1210px;
	height: 164px;
	margin: 10px 0 20px 0;
}
.gundong1_1{
	width: 210px;
	height:151px;
	background: url(../image/homebg.png) 0 -136px no-repeat;
	float: left;
}
.gundong1_2{
	display: block;
	width:249px;
	height: 164px;
	margin: 0 1px 0 0;
	float: left;
	overflow:hidden;
}
/*猜你喜欢*/
.guessyou{
	width: 1210px;
	height: 288px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.cnxh{
	width:1210px;
	height: 36px;
}
.cnxh h2{
	width: 80px;
	height: 30px;
	padding-right: 228px;
	float: left;
	font-size: 20px;
	color: #333;
	font-weight:400;
	;line-height: 30px;
	background: url(../image/homebg.png) no-repeat 82px -92px;

}
#extra2:hover{
	color:#C81623; 
	background: url(../image/homebg.png) no-repeat -310px -30px;
}
#extra2{
    width: 36px;
    height: 18px;
    margin-top: 8px;
    padding-right: 25px;
    background: url(../image/homebg.png) no-repeat -310px -6px;
    float: right;
    line-height: 18px;
}
.mc1{
	width: 1208px;
	height: 230px;
	border: 1px solid #EDEDED;
	padding-top:20px;
}
.mc_1{
    width: 201px;
    height: 217px;
    float: left;
    padding-bottom: 15px;
}
.p_img{
	width: 201px;
	height: 130px;
	padding-bottom: 10px;
	text-align: center;
}
.p_info{
	width: 128px;
	height: 77px;
	padding: 0 36px;
	border-right: 1px solid #EDEDED;
}
.p_name{
	margin-bottom: 6px;
}
.p_name a{
	font-family:"宋体";
}
.p_name a:hover{
	color:#C81623; 
}
.p_price span{
    font-size: 14px;	
    color:#B51D1A;
}
.p_price{
	font-size:18px;
	color:#B51D1A;
}
#p_info1{
    border-right: none;
}

/*fushi*/
.pzsh{
	width: 1210px;
	height: 443px;
	margin: 0 auto 20px auto;
}
.pzsh h2{
	display: block;
	width: 1210px;
	height: 36px;
	color: #333;
	font-size: 20px;
	line-height: 36px;
}
.pzsh1{
	width: 1208px;
	height:405px;
    border: 1px solid #ededed;

}
.pzsh1_1{
	width: 404px;
	height: 405px;
	background: #f7f7f7;
	float: left;

}
.pzsh1_1 .pzsh1_a{
    display: block;
    height: 246px;
	width: 403px;
	border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    position: relative;
    overflow:hidden;
}
.pzsh1_1_3{
    font: 700 15px/40px 'Microsoft Yahei';
    color: #333;
    text-align: center;
    z-index: 1;
    border-bottom: 1px dashed #e0e0e0;
    margin: 0 20px;
}
.pzsh1_1_2{
	width: 119px;
	height: 63px;
	position: absolute;
	left: 45px;
	top:109px;
}
 .pzsh .tit{
	display: block;
	font-weight: 700;
    font-size: 16px;
    margin-bottom: 12px
}
 .pzsh .desc{
   font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    margin-bottom: 4px;
    color: #333;
    font-family: 'Microsoft Yahei';
    line-height: 1.2;
}
 .pzsh .promotion{
	color: #c81623;
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    font-family: 'Microsoft Yahei';
    line-height: 1.2;
}
.pzsh1_1_4{
	position: relative;
    display: block;
	width: 201px;
	height:158px;
	border-right: 1px solid #ededed;
	float: left;
	position: relative;

}
.pzsh1_1_4_1{
	width: 100px;
	height:63px;
	position: absolute;
	left: 10px;
	top:48px;

}
.pzsh1_1_5{
	position: relative;
    display: block;
	width: 201px;
	height:158px;
	float: left;
}
.pzsh1_2{
	width: 229px;
	height: 100%;
	float:left;
}



.pzsh1_2_1{
	
    display: block;
    width: 228px;
    height: 246px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    overflow: hidden;
    position: relative;
}
.pzsh1_2_1_1{
	 font: 700 15px/40px 'Microsoft Yahei';
    color: #333;
    text-align: center;
    z-index: 1;
    border-bottom: 1px dashed #e0e0e0;
    margin: 0 20px;
}
.pzsh1_2_1_2{
	width: 99px;
	height:63px;
	position: absolute;
	left: 10px;
	top:109px;
}
.pzsh1_2_2{
	display: block;
	width: 228px;
	height: 158px;
	border-right:1px solid #ededed;
	position: relative;

}
.pzsh1_2_2_1{
    width: 60px;
	height:63px;
	position: absolute;
	left: 10px;
	top:48px;
}
.pzsh1_3{
	width: 171px;
	height: 405px;
	float: left;
}
.pzsh1_3_1{
	position: relative;
    float: left;
    width: 85px;
    height: 381px;
    margin-top: 13px;
    border-right: 1px dashed #e0e0e0;
}
.hs_brands{
	width: 171px;
	height: 407px;
	float: left;
}
.brands_left{
	width: 85px;
	height: 381px;
	float: left;
	margin-top: 13px;
	border-right: 1px dashed #EDEDED;
}
.brands_rifht{
	width: 85px;
	height: 381px;
	float: left;
	margin-top: 13px;
}
.area_tit{
	font: 700 15px/40px "微软雅黑";
	color: #333;
	text-align: center;
	margin: 0 20px;
	border-bottom: 1px dashed #E0E0E0;
}
.sub_tit{
	position: absolute;
    left:45px;
    top: 109px;
}
.tit{
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 12px;
	color: #333;
}
.desc{
	color: #333;
	margin-bottom: 4px;

}
.promotion{
	color:#C81623;
}
.sub_tit1{
	position: absolute;
    left:10px;
    top: 48px;
}
.sub_tit2{
	position: absolute;
    left:10px;
    top: 109px;
}
.brands_left ul{
	margin-top: -13px;
}
.brands_left li{
	border-bottom: 1px dashed #E0E0E0;
	width: 74px;
    float: right;
}
.brands_left a{
	display: block;
	height: 57px;
}
.brands_left img{
	float: right;
}
.brands_right ul{
	margin-top: 0px;
}
.brands_right li{
	border-bottom: 1px dashed #E0E0E0;
	width: 74px;
    float: left;
}
.brands_right a{
	display: block;
	height: 57px;
}
.brands_right img{
	float: left;
}
.brands_left{
	width: 85px;
	height: 381px;
	float: left;

}
.brands_right {
	width: 85px;
	height: 381px;
	float: left;
}
.floor-banner-1{
	width: 1210px;
	height: 110px;
	margin: 0 auto;
	margin-bottom: 30px;

}
.floor-banner-1 img{
	float: left;
}
/*一楼 服装鞋包*/
.ebaq_clothes{
	width: 1210px;
	height: 737px;
	margin:0 auto;
	margin-bottom: 30px; 
}

.ebaq{
	width: 1210px;
	height: 633px;
}
.ebap_left{
	width: 330px;
	height: 633px;
	float: left;
}
.ebap_centra,.ebap_right{
	width: 440px;
	height: 633px;
	float: left;

}
.ebaq_extra{
	width: 328px;
	height: 156px;
	border:1px solid #EDEDED;
	float: left;
	overflow: hidden;
}
.side{
	width: 330px;
	height: 475px;
	float: left;
	position: relative;
	overflow: hidden;
}
.themes {
    width: 305px;
    height: 26px;
    position: absolute;
    background: #FFF;
    left: 0px;
    bottom: 192px;
    padding: 10px 0 10px 25px;
    background: rgba(255, 255, 255, 0.5);
    filter: alpha(opacity=50);
}
#themes1{
	height: 72px;
	position: absolute;
	right: 0px;
	bottom: 127px;
}
#themes1 a{
	margin-bottom: 10px;
}
#assists1{
	height: 128px;
	width: 330px;

	position: absolute;
	background: #FFF;
	left: 0px;
	bottom: -1px;
     background:rgba(255, 255, 255, 0.7);
}
#ebap_fore1{
	background: url(../image/clothesicon.png) no-repeat 0px 0px;
}
.themes_fore{
	display: block;
	width: 67px;
	height: 26px;
	padding-left: 31px;
	line-height: 26px;
	font-size: 14px;
	background: url(../image/mobilesicon.png) no-repeat 0px 0px;
	float: left;
}
.themes_fore:hover{
	color:#C81623;
}
.themes_fore{
	display: block;
	width: 67px;
	height: 26px;
	padding-left: 31px;
	line-height: 26px;
	font-size: 14px;
	background: url(../image/mobilesicon.png) no-repeat 0px 0px;
	float: left;
}
.themes_fore:hover{
	color:#C81623;
}
#ebap_fore2{
	background: url(../image/clothesicon.png) no-repeat 0px -26px;
}
#ebap_fore3{
	background: url(../image/clothesicon.png) no-repeat 0px -52px;
}
#ebap_fore4{
	background: url(../image/clothesicon.png) no-repeat 0px -78px;
}
#ebap_fore5{
	background: url(../image/clothesicon.png) no-repeat 0px -104px;
}
#ebap_fore6{
	background: url(../image/clothesicon.png) no-repeat 0px -130px;
}

.words{
	width: 330px;
	height: 122px;

}
.words li{
	width: 135px;
	height: 96px;
	padding-left: 25px;
	padding-top: 7px;
	float: left;
}
.words a{
	display: block;
	float: left;
	width: 48px;
	height: 24px;
	margin-right: 10px;
	line-height: 24px;
	font-family: "宋体";

}
.color{
	color:#C81623;
}
.words a:hover{
	color:#C81623;
}
.ebap_centra a,.ebap_right a{
	display: block;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	font-size: 0;
	float: left;

}

.ebap_right div{
	width: 220px;
	height: 317px;
	font-size: 0;
	float: left;
	overflow: hidden;
}
/*f3 公用模块*/
.brands{
	width: 1210px;
	height: 40px;
	padding:13px 0;
	margin-top: 10px;
	background: #F7F7F7;
   
}
.brands_fore {
	border-right: 1px dashed #CCC;
	width: 120px;
	height: 40px;
	float: left;
    text-align: center;
}
#brands_fore1{
	border:none;
}
.f3{
    width: 1210px;
    height: 36px;
    border-bottom: 1px solid #C81623;
}
.f3 h2{
	padding-left: 40px;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	background: url(../image/product_home_1.0.0.png) no-repeat 0px 3px;
	position: relative;
	width: 120px;
	float: left;
}

.f3 span{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 13px;
    color: #FFF;
    padding-left: 3px;
}
.f3 ul{
	height: 35px;
	float: right; 
	border: 1px solid #EDEDED;
	border-bottom: none;
	text-align: center;


}
.f3 li{
	display: inline;
	float: left;
    position: relative;
    display: inline;

}
.f3 a{
	font: 12px/35px "宋体";
	padding: 0 16px;
	display: block;
	height: 35px;
	width: 100%;


}
#rm{
	position: absolute;
	top: -1px;
	left: 0px;
	border-right: 1px solid #C81623;
	border-top: 3px solid #C81623;
	border-left: 1px solid #C81623;
	line-height: 33px;
	width: 24px;
	height: 34px;
	background: #FFF;
}
.f3 p{
   position: absolute;
   top: 10px;
   right: 0px;
   background: #ccc;
   width: 1px;
   height: 14px;

}
.f3 a:hover{
   color:#C81623;


}
/*客户美容*/
.ghmz{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px; 
}
.ghmz_banner{
	width: 1210px;
	height: 474px;

}
.ghmz_side{
	width: 210px;
	height: 474px;
	float: left;
	position: relative;
}
.ghmz_side a{
	display: block;
	overflow: hidden;
	width: 210px;
	height: 474px;
}
.ghmz_centra a{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #EDEDED;
	border-right: 1px solid #EDEDED;
	font-size: 0;

}
.ghmz_centra{
	width: 340px;
	height: 474px;
	float: left;
}
.ghmz_right{
	width: 660px;
	height: 474px;
	float: left;
}
.ghmz_right a{
	float: left;
	display: block;
	font-size: 0;
		border-bottom: 1px solid #EDEDED;
	border-right: 1px solid #EDEDED;

}
.ghmz_themes{
	width: 200px;
	height: 92px;
	padding-left: 10px;
	background: rgba(255, 255, 255, 0.5) none;
	position: absolute;
	left: 0px;
	bottom: 145px;

}
.ghmz_themes li{
	width: 67px;
	height: 26px;
	padding-left: 31px;
	line-height: 26px;
	font-size: 14px;
	background: url(../image/cosmeticsicon.png) no-repeat 0px 0px;
	float: left;
	margin: 10px 0;
}

#ghmz_themes1{
	background: url(../image/cosmeticsicon.png) no-repeat 0px -26px;
}
#ghmz_themes2{
	background: url(../image/cosmeticsicon.png) no-repeat 0px -52px;
}
#ghmz_themes3{
	background: url(../image/cosmeticsicon.png) no-repeat 0px -78px;
}
.ghmz_assists{
	width: 210px;
	height: 124px;
	padding-top: 21px;
	background: rgba(255, 255, 255, 0.7) none;
	position: absolute;
	bottom: 0px;
	left: 0px;

}

/*手机商城*/
.lazy-clothes{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.clothes{
	width: 1210px;
	height: 511px;}
.mz{
	width: 1210px;
	height: 474px;
}
.side{
	width: 330px;
	height: 475px;
	float: left;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 440px;
	height: 474px;
	float: left;
}
.slider a{
	display: block;
    float: left;
}
.htc{
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	height: 238px;
	float: left;
}

.main_extra{
	width: 440px;
	height: 474px;
	float: left;
}
.extra_fore{
	float: left;
	width: 219px;
	height: 117px;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	background: red;
	overflow: hidden;

}

.themes{
	width: 305px;
	height: 26px;
	position: absolute;
	background: #FFF;
	left: 0px;
	bottom: 192px;
	padding:10px 0 10px 25px;
	background:rgba(255, 255, 255, 0.5);
	filter:alpha(opacity=50);

}
.themes_fore{
	display: block;
	width: 67px;
	height: 26px;
	padding-left: 31px;
	line-height: 26px;
	font-size: 14px;
	background: url(../image/mobilesicon.png) no-repeat 0px 0px;
	float: left;
}
.themes_fore:hover{
	color:#C81623;
}
#themes_fore1{
	background: url(../image/mobilesicon.png) no-repeat 0px -26px;
	
}
#themes_fore2{
	background: url(../image/mobilesicon.png) no-repeat 0px -52px;
	
}
.assists{
	width: 330px;
	height: 193px;
	position: absolute;
	background: #FFF;
	left: 0px;
	bottom: -1px;
	background:rgba(255, 255, 255, 0.7);
	filter:alpha(opacity=70);


}
.assists_top{
	width: 330px;
	height: 48px;
	padding-top: 21px;
}
.assists_top li{
	float: left;
	width: 137px;
	height: 24px;
	padding-left: 25px;
	
}
.assists_top a{
	font-size: 14px;
    line-height: 24px;
}
.assists_top a:hover{
	color:#C81623;
}
.words{
	width: 330px;
	height: 122px;

}
.words li{
	width: 135px;
	height: 96px;
	padding-left: 25px;
	padding-top: 7px;
	float: left;
}
.words a{
	display: block;
	float: left;
	width: 50px;
	height: 24px;
	margin-right: 10px;
	line-height: 24px;
	font-family: "宋体";

}
.color{
	color:#C81623;
}
.words a:hover{
	color:#C81623;
}
.brands_fore {
	border-right: 1px dashed #CCC;
	width: 120px;
	height: 40px;
	float: left;

}
#brands_fore1{
	border:none;
}
/*家电服务*/
.jydq{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.jydq1{
	width: 1210px;
	height: 511px;}
.jdfw{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.jdfw1{
	width: 1210px;
	height: 511px;}
.themes_fore3{
	background: url(../image/electronicsicon.png) no-repeat 0px 0px;
	float: left;

}
#themes_fore4{
	float: right;
	background: url(../image/electronicsicon.png) no-repeat 0px -26px;
}
/*电脑数码*/
.jdsm{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.jdsm1{
	width: 1210px;
	height: 511px;}
.themes_fore5{
	background: url(../image/digitalsicon.png) no-repeat 0px 0px;
	float: left;

}
#themes_fore6{
	float: right;
	background: url(../image/digitalsicon.png) no-repeat 0px -26px;
}
/*运动健将*/
.ydjj{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.ydjj1{
	width: 1210px;
	height: 511px;
}
.ydjj1_2{
	float: left;
	width: 1210px;
	height:474px;
	overflow: hidden;
}
.f2left1{
	float: left;
	width:210px;
	height:473px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.f2left12{
	position: relative;
	padding-left: 10px;
	height: 92px;
	margin-top: -237px;
	overflow: hidden;
	background: rgba(255,255,255,.5);
}
.f2left12 li{
	float: left;
	width: 98px;
	height: 26px;
	padding: 10px 0;
	line-height: 26px;
	text-align: center;
}
.f2left12 a{
	float: left;
}
.f2left12 i{
	float: left;
	height: 26px;
	overflow: hidden;
	line-height: 26px;
}
.f2left12 span{
	height: 26px;
	line-height: 26px;
	width: 56px;
	font-size: 14px;
	margin-right: 5px;
}
.f2mc{
	float: left;
	width: 1210px;
	height:474px;
}
.f2left13{
	position: relative;
	height: 48px;
	padding: 21px 0 0;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	background: rgba(255,255,255,.7);
}
.f2left13 li{
	float: left;
	width: 180px;
	height: 24px;
	padding-left: 25px;
	overflow: hidden;
}
.f2left13 a{
	font-size: 14px;
	line-height: 24px;
}
.f2left14{
	position: relative;
	height: 76px;
	background: rgba(255,255,255,.7);
}
.f2left14 li{
	float: left;
	width:165px;
	height: 48px;
	padding-top: 7px;
	margin-left: 25px;
	display: inline;

}
.f2left14 a{
	width:36px;
	height: 12px;
	margin-right:10px;
	text-align: center;
	line-height: 12px;
}
.icon2f{
	width: 26px;
	height: 26px;
	margin-right: 5px;
	background: url(../image/sportsicon.png) 0 0 no-repeat;
}
.icon12f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/sportsicon.png) no-repeat;
	background-position: 0px -26px;
}
.icon22f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/sportsicon.png) no-repeat;
	background-position: 0px -52px;
}
.icon33f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/sportsicon.png) no-repeat;
	background-position: 0px -78px;
}
.f6left2{
	float: left;
	width: 220px;
	height: 474px;

	overflow: hidden;
}
.f6left2 li{
	float: left;
	width: 220px;
	height: 236px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.f6left3{
	float: left;
	width: 340px;
	height: 474px;
}
.f6left3 li{
	float: left;
	width: 339px;
	height: 236px;
	border-bottom: 1px solid #ccc;

}
.f6left4{
	float: left;
	width: 440px;
	height: 474px;
	overflow: hidden;
}
.f6left4 li{
	float: left;
	overflow: hidden;
	width: 219px;
	height: 236px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
/*7居家生活*/
.jjsh{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.jjsh1{
	width: 1210px;
	height: 511px;
}
.jjsh1_2{
	float: left;
	width: 1210px;
	height:474px;
	overflow: hidden;
}
.jjsh1_2 .icon2f{
	width: 26px;
	height: 26px;
	margin-right: 5px;
	background: url(../image/livingsicon.png) 0 0 no-repeat;
}
 .jjsh1_2 .icon12f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/livingsicon.png) no-repeat;
	background-position: 0px -26px;
}
.jjsh1_2 .icon22f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/livingsicon.png) no-repeat;
	background-position: 0px -52px;
}
.jjsh1_2 .icon33f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/livingsicon.png) no-repeat;
	background-position: 0px -78px;
}
/*母婴玩具*/
.mywj{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.mywj1{
	width: 1210px;
	height: 511px;
}
.mywj1_2{
	float: left;
	width: 1210px;
	height:474px;
	overflow: hidden;
}
.mywj1_2 .icon2f{
	width: 26px;
	height: 26px;
	margin-right: 5px;
	background: url(../image/babysicon.png) 0 0 no-repeat;
}
 .mywj1_2 .icon12f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/babysicon.png) no-repeat;
	background-position: 0px -26px;
}
.mywj1_2 .icon22f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/babysicon.png) no-repeat;
	background-position: 0px -52px;
}
.mywj1_2 .icon33f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/babysicon.png) no-repeat;
	background-position: 0px -78px;
}
/*食品保健*/
.spbj{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.spbj1{
	width: 1210px;
	height: 511px;
}
.spbj1_2{
	float: left;
	width: 1210px;
	height:474px;
	overflow: hidden;
}
.spbj1_2 .icon2f{
	width: 26px;
	height: 26px;
	margin-right: 5px;
	background: url(../image/foodsicon.png) 0 0 no-repeat;
}
 .spbj1_2 .icon12f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/foodsicon.png) no-repeat;
	background-position: 0px -26px;
}
.spbj1_2 .icon22f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/foodsicon.png) no-repeat;
	background-position: 0px -52px;
}
.spbj1_2 .icon33f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/foodsicon.png) no-repeat;
	background-position: 0px -78px;
}
/*10图书音响*/
.tsyx{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.tsyx1{
	width: 1210px;
	height: 511px;
}
.tsyx1_2{
	float: left;
	width: 1210px;
	height:474px;
	overflow: hidden;
}
.tsyx1_2 .icon2f{
	width: 26px;
	height: 26px;
	margin-right: 5px;
	background: url(../image/booksicon.png) 0 0 no-repeat;
}
 .tsyx1_2 .icon12f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/booksicon.png) no-repeat;
	background-position: 0px -26px;
}
.tsyx1_2 .icon22f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/booksicon.png) no-repeat;
	background-position: 0px -52px;
}
.tsyx1_2 .icon33f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/booksicon.png) no-repeat;
	background-position: 0px -78px;
}
.f10left2{
	float: left;
	width: 219px;
	height: 474px;
	overflow: hidden;
}
.f10left2 li{
	float: left;
	width: 218px;
	height: 236px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
}
.f10left3{
	float: left;
	overflow: hidden;
	width: 440px;
	height: 237px;

}
.f10left3 li{
	float: left;
	width: 440px;
	height: 236px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.f10left4{
	float: left;
	width: 440px;
	height: 236px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
.f10left4 li{
	float: left;
	width: 218px;
	height: 235px;
	border-right: 1px solid #ccc;
	overflow: hidden;
}
.f10right{
	float: left;
	width: 340px;
	height: 474px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	margin-top: -238px;
}
.f10rightt{
	width: 339px;
	height: 34px;
	padding-top: 13px;
	border-right: 1px solid #EDEDED;
}
.f10rightt h3{
	margin: 0 15px 0 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	font-size: 20px;
	line-height: 23px;
	border-bottom: 1px solid #e4e4e4;
	font-family: "microsoft yahei";
	font-weight: 400;
}
.f10rightb{
	height: 426px;
	padding-left: 15px;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}
.f10rightb li{
	height: 80px;
	margin-top: 20px;
	overflow: hidden;
}
.f10rightb1{
	float: left;
	width: 48px;
	padding: 2px 15px 0 4px;
	text-align: center;
}
.f10rightb1 img{
	vertical-align: top;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-bottom: 6px;
}
.f10rightb1 span{
	display: block;
	height: 18px;
	overflow: hidden;
}
.f10rightb2{
	float: left;
	padding-left: 8px;
	width: 80px;
	height: 80px;
	border-left: 1px dotted #dbdbdb;
}
.f10rightb2 img{
	width: 80px;
	height: 80px;
	vertical-align: top;
}
.f10rightb3{
	float: left;
	padding-left: 10px;
}
.f10rightb31{
	width: 150px;
	height: 18px;
	margin-bottom: 5px;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.f10rightb31 a{
	color: #666;
	font-size: 14px;
}
.f10rightb31 p{
	height: 38px;
	overflow: hidden;
	word-break: break-all;
}
.icon-r {
	font-size: 38px;
	line-height: 38px;
	color: #aaa;
	vertical-align: -24px;
	font-family: Arial;
}
.detail-arrow {
	position: absolute;
	left: -9px;
	top: 19px;
	color: #f8f8f8;
	font-size: 20px;
}
.icon-l {
	position: absolute;
	left: 4px;
	top: 7px;
	font-size: 38px;
	line-height: 38px;
	color: #aaa;
	font-family: Arial;
}
.f10rightb32{
	position: relative;
	width: 115px;
	height: 34px;
	padding: 10px 15px 10px 20px;
	background: #f8f8f8;
	color: #999;
	overflow: visible;
}
.f10left12{
	float: left;
	width: 394px;
	height: 474px;
}
.f10left12l{
	float: left;
	width: 394px;
	height: 238px;
}
.f10left12r{
	float: left;
	width: 395px;
	height: 237px;

}
.f10left12r li{
	float: left;
	width: 196px;
	height: 117px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
/*生活服务*/
.shfw{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.shfw1{
	width: 1210px;
	height: 511px;
}
.shfw1_2{
	float: left;
	width: 1210px;
	height:474px;
	overflow: hidden;
}
.shfw1_2 .icon2f{
	width: 26px;
	height: 26px;
	margin-right: 5px;
	background: url(../image/booksicon.png) 0 0 no-repeat;
}
 .shfw1_2 .icon12f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/booksicon.png) no-repeat;
	background-position: 0px -26px;
}
.shfw1_2 .icon22f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/booksicon.png) no-repeat;
	background-position: 0px -52px;
}
.shfw1_2 .icon33f{
	width: 26px;
	margin-right: 5px;
	background: url(../image/booksicon.png) no-repeat;
	background-position: 0px -78px;
}